<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4>
            <span style="font-family: 'Ubuntu', sans-serif;">
              <%= @listing.name %> / $<%= @listing.rate %> <light>each day</light>
              <span class="pull-right">
                <%= @listing.category %>
              </span>
            </span>
          </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <center>
              <div style="width: 300px; height: 200px;">
                <!-- Image Carousel -->
                <p>  
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <% @listing.listing_images.each_with_index do |listing_image, i| %>
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="<% if i == 0 %>active<% end %>"></li>
                    <% end %>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <% @listing.listing_images.each_with_index do |listing_image, i| %>
                      <div class="item <% if i == 0 %>active<% end %>">
                        <%= image_tag listing_image.image.url(:medium), :style => 'width: 300px; height: 200px;' %>
                        <div class="carousel-caption">
                          <%= @listing.name %>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                  </div>
                </p>
                <br>
              </div>
            </center>
            <br />
            <div style="padding: 0 10px">
              <blockquote>
                <p>
                  <%= @listing.description %>
                </p>
              </blockquote>
            </div>
            <div class="row">
              <center>
                <%= link_to (image_tag @listing.user.fetch_avatar, :class => "img-circle"), @listing.user  %>
                <h5><b><%= @listing.user.name %></b><br />
                <%= @listing.user.city %>, <%= @listing.user.zipcode %></h5>
                </h4>
              </center>
            </div>
          </div>

          <!-- Rental Container -->
          <div class="col-sm-6">
            <center>
               <p>
                <% if @booking %>
                  <div class="well" style="width: 300px;">
                    <center>
                      <% if !@booking.created_at?%>
                        <div id="booking-step-1">
                          <h4>REQUEST A BOOKING</h4>
                          <%= form_for [@listing, @booking], remote: true, :class => 'form-inline' do |f| %>
                            <div class="form-group">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <%= f.text_field :start_date, :class => "form-control input-small", :name => "booking[start_date]", :placeholder => "Pick Up" %> <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <br>
                                <div class="input-group">
                                  <%= f.text_field :end_date, :class => "form-control input-small", :name => "booking[end_date]", :placeholder => "Drop Off" %><span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                              </div>
                            </div>
                            <h2>
                              <div id="live-price" data-price="<%= @listing.rate %>">
                                $<span id="price-span"><%=@listing.rate%></span>
                              </div>
                            </h2>
                            <% if @listing.deposit_price != 0 %>
                              <h5>
                                Damage Deposit Required: <b>$<%= @listing.deposit_price %></b>
                              </h5>
                            <% end %>
                            <div class="form-group">
                              <%= f.text_field :note, :class => 'form-control', :placeholder => 'Note to Owner (optional)' %>
                            </div>
                            <div class="form-group">
                              <%= f.submit "Next", :class => "form-control btn-scenius" %>
                            </div>
                          <% end %>
                        </div>

                        <div id="booking-step-2" style="display: none;">

                        <!-- Credit card form -->

                          <h4>ONE MORE THING...</h4>
                          <p>We need your credit card to secure your booking - you will only be charged if the gear's owner accepts your request.</p>
                          <hr>
                          <form id="credit-card-form" role="form">
                            <div class="form-group">
                              <label>Card Number</label>
                              <input type="text" id="cc-number" class="form-control" autocomplete="off" placeholder="4111111111111111" maxlength="16" />
                            </div>
                            <div class="form-inline">
                              <div class="form-group">
                                    <label>Expiration Date</label>
                                    <br />
                                    <input type="text" id="cc-em" class="form-control" autocomplete="off" placeholder="01" maxlength="2" style="width: 50px;" />
                                    <input type="text" id="cc-ey" class="form-control" autocomplete="off" placeholder="2013" maxlength="4"  style="width: 60px;" />
                              </div>
                            </div>
                            <br />
                            <div class="form-group">
                                  <label>Security Code (CSC)</label>
                                  <input type="text" id="cc-csc" class="form-control" autocomplete="off" placeholder="453" maxlength="4" />
                            </div>
                            <div class="form-group">
                              <a id="cc-submit" class="btn btn-large btn-scenius pull-right form-control">Finish</a>
                            </div>
                            <br /><br /><br />
                            <img src="https://s3.amazonaws.com/stageHand-assets/static_images/credit_card_form/balanced_card_logos.png" style="width: 100%;"></img>
                            <hr>
                            <h6>
                              *By clicking 'Finish' you authorize Scenius to charge your credit card for the requested rental amount. You also accept that Scenius may charge your card for the listed Damage Deposit amount and hold this amount upon the equipment is returned in its original condition upon which a full refund will be issued.
                            </h6>
                          </form>
                        </div>
                      <% else %>
                        <h4>Request Sent!</h4>
                        <%= form_for [@booking], remote: true, :class => 'form-inline' do |f| %>
                            <div class="form-group">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <%= f.text_field :start_date, :class => "form-control input-small", :name => "booking[start_date]", :placeholder => "Pick Up", :disabled => :true %> <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <br>
                                <div class="input-group">
                                  <%= f.text_field :end_date, :class => "form-control input-small", :name => "booking[end_date]", :placeholder => "Drop Off", :disabled => :true %><span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                              </div>
                            </div>
                            <h2>
                              <div id="live-price" data-price="<%= @listing.rate %>">
                                $<span id="price-span"><%=@listing.rate%></span>
                              </div>
                            </h2>
                            <div class="form-group">
                              <%= f.text_field :note, :class => 'form-control', :placeholder => 'Note to Owner (optional)', :disabled => :true %>
                            </div>
<!--                             <%= f.hidden_field :state_event, value: 'cancel' %>
 --><!--                             <div class="form-group">
                              <%= f.submit 'Cancel', :class => 'form-control btn-danger' %>
                            </div> -->
                          <%= link_to "View More", @booking %>
                        <% end %>
                      <% end %>
                    </center>
                  </div>
                <% elsif !current_user %>
                  <div class="well">
                    <h2>Rent It Now.</h2>
                    <br />
                    <a href="/users/sign_up" class="btn btn-block btn-scenius">Get a free Scenius account.</a>
                  </div>
                <% end %>
              </p>
            </center>
          </div>
        </div>
      </div>
<!--       <%= link_to 'Edit', edit_listing_path(@listing) %> |
      <%= link_to 'Back', listings_path %> -->
    </div>
  </div>
</div>