<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <%= image_tag @listing.listing_images[0].image.url(:medium) if @listing.listing_images.length > 0%>
</p>


<p>
  <strong>Rate:</strong>
  <%= @listing.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <% if @booking %>
    <% if @booking.sender.nil? %>
      <strong>Book this rental:</strong>
      <%= form_for [@listing, @booking] do |f| %>
          <%= f.label :note %>
          <%= f.text_field :note %>
          <%= f.date_select :start_date %>
          <%= f.date_select :end_date %>
          <%= f.submit 'Send' %>
      <% end %>
    <% else %>
      <strong> Booking Sent </strong>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
