<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @booking.sender.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.recipient.name %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @booking.listing_id %>
</p>

<p>
  <strong>Current Status:</strong>
  <%= @booking.state.capitalize %>
</p>

<p>
  <strong>Note:</strong>
  <%= @booking.note %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @booking.end_date %>
</p>

<p>
  <%= render './replies/index' %>
</p>

<p>
  <%# if (current_user.has_wepay_account? && current_user == @booking.recipient) %>
  <% if (current_user == @booking.sender && @booking.state == 'accepted')%>
  <br />
  <%= link_to "Confirm with credit card!", "/bookings/pay/#{@booking.id}", :class => 'btn btn-danger btn-large', :id => 'buy-now-button' %>
  <% end %>
</p>

<p>
<% if @booking.state == 'paid' %>
 <strong>Booking paid for on:</strong>
  <%= @booking.paid_at.strftime("This booking was paid for on %B %d at %I:%M %p") if @booking.paid_at%>
<% end %>

<p>
  <%= link_to 'Reply', new_booking_reply_path(@booking) %>
</p>

<% if current_user == @booking.recipient %>
  <p>
    <% if @booking.accepted_at %>
      <%= form_tag booking_path(@booking), method: :patch do %>
        <%= hidden_field_tag 'booking[state]', 'cancel' %>
        <%= submit_tag 'Cancel Booking' %>
      <% end %>
    <% else %>
      <%= form_tag booking_path(@booking), method: :patch do %>
        <%= hidden_field_tag 'booking[state]', 'accept' %>
        <%= submit_tag 'Accept Booking' %>
      <% end %>
    <% end %>
  </p>
<% end %>