<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading user-heading">
				<div class="row">
					<div class="user-heading-floated">
						<h2><%= image_tag @user.fetch_avatar, :class => 'img-circle'%></h2>
					</div>
					<div class="user-heading-floated">
						<h3><%= @user.name %></h3>
						<h5 style="margin-top: -6px;"> <%= @user.city %>, <%= @user.state %>
						 <b><%= @user.zipcode %></b>  </h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<center>
					<h5>Scenius Stats:</h5>
				</center>

				<div class="row">
					<div class="col-sm-3">
						<p>
							Joined <%= time_ago_in_words(@user.created_at) %> ago.
						</p>
					</div>

					<div class="col-sm-3">
						<p>
							<%= @user.listings.length %> items on Scenius.
						</p>
					</div>

					<div class="col-sm-3">
						<p>
							<%= @user.requested_bookings.where(:state => 'completed').length %> items rented from Sceniuses.
						</p>
					</div>

					<div class="col-sm-3">
						<p>
							<%= @user.requested_bookings.where(:state => 'completed').length %> items rented to Sceniuses.
						</p>
					</div>
				</div>
				<center>
					<%= link_to "Edit", edit_user_registration_path %>
				</center>
			</div>
		</div>
	</div>
</div>