<h1><%= @booking.sender.name.capitalize %> wants to rent <%= @booking.listing.name %>!</h1>
============================================================

The requested rental period is from <%= @booking.start_date.to_formatted_s(:short) %> to <%= @booking.end_date.to_formatted_s(:short) %>.

To respond, accept or reject this request, please follow this link: <%= booking_url(@booking) %>

Thanks!

- Team Scenius
