<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @request.listing_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @request.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @request.end_date %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @request.accepted %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
