<!DOCTYPE html>
<html>
<head>
  <title>StageHand</title>
  <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500|Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="body-wrapper">
    <%= render :partial => 'layouts/navbar' %>
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <p class="alert"><%= alert %></p>


  <%= yield %>
  </div>
</body>
</html>
